/* Write some CSS below */
body {
  background-color: #FDFDFD;
  color: #404042;
  font-family: 'Overpass', sans-serif;
  margin: 0;
}

a {
  color: #1A48E3;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Chivo', sans-serif;
}

.banner {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
  opacity: 0.7;
}

.btn-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: #0D1EC6;
}
















